<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
 	<bean id="myCoach"
 		class="com.spring.ioc.FootballCoach">	 		
 	</bean>
   
    <bean id="baseballCoach"
        class="com.spring.ioc.BaseballCoach">         
    </bean>
    
    <bean id="myFortuneHelper"
		class = "com.spring.di.FortuneHelper">
	</bean>
	
	<bean id="myFortuneCoach"
		class = "com.spring.di.FortuneCoach" >
	<constructor-arg ref = "myFortuneHelper" />
	</bean>
	
	<bean id="myFortuneCookie"
		class = "com.spring.di.FortuneCookieSI" >
	<property name = "fortuneHelper"  ref = "myFortuneHelper" />
	<property name = "fortuneGiver"  value = "Akhilesh Rane" />
	<property name = "fortuneGiverID"  value = "51" />
	</bean>
	
	<bean id="singleton"
 		class="com.spring.scopes.Singleton" scope= "singleton" 
 		destroy-method  = "cleanupOnAisleN" >
 			 		
 	</bean>
 	
 	<bean id="prototype"
 		class="com.spring.scopes.Prototype" scope= "prototype"
 		init-method = "myInitMethod" 
 		destroy-method  = "cleanupOnAisleN" >	 	
		<!--  Destroy method is not called for beans of scope prototype.
		 This is because the context doesn't keep track of the prototype scope objects
		 (if it does, it will cause a memory leak as spring doesn't know when to dispose it).
		 destroy-method can be called using a custom Bean Processor to keep track
		 and having the prototype class implement DisposableBean  -->
 	</bean>
 	
 	
</beans>





